__pycache__
log
figures/*
result/*
weight/*
data/*
./*.xls
others

cfg/email.cfg
.vscode/launch.json

result/experiments.db


!data/Reuters10K
!data/ImageNet-10
!data/ImageNet-Dogs

!weight/EDESC_reuters.pkl
!weight/DEC_mnist_ae_weights.h5
!weight/DEC_usps_ae_weights.h5
!weight/DEC_reutersidf10k_ae_weights.h5

